.c-sidebar {
    margin: 0 auto;
    font-size: $ms-1;

   &--heading { color : $brandColor;}
}

.c-tag-list
{
    &--items
    {
        list-style-type : none;
    }

    &--item
    {
        @include u-paddingRight--xs;
        display : inline-block;
    }

    &--item-size
    {
        &-5 {font-size: $ms2;}
        &-4 {font-size: $ms1;}
        &-3 {font-size: $ms0;}
        &-2 {font-size: $ms-1;}
        &-1 {font-size: $ms-2;}
    }
}

.c-category-list 
{
    &--items
    {
        list-style-type : none;
    }

    &--item
    {
        @include u-margin(r,$s);
        display : inline-block;
    }

    @media screen and (min-width: $md-viewport) {

        &--item
        {
            @include u-margin(r,0);
            display : list-item;
        }
    }
}

.c-archive-list {
    &--heading {@include u-paddingBottom--xs;}
    ul {
        @include u-paddingBottom--0;
    }

    &--label { display : inline-block;}
    
    &--year,
    &--month,
    &--link {
        line-height:1.2;
        @include u-paddingBottom--0;
        list-style-type: none;
    }
    &--link,
    &--label
    {
        @include u-paddingBottom--xs;
    }

    &--month {
        @include u-paddingBottom--xs;
    }

    &__tree
    {
        .c-archive-list 
        {
             &--month, &--link { @include u-marginLeft--m; }
             &--year-icon,
             &--month-icon
             {
                 display: inline-block;
                 line-height: 10px;
                 width: 10px;
                 height: 10px;
                 transition: all 0.25s ease;
              
                
             }

             &--label:hover { cursor : pointer;}

             &--year
             {
                 overflow : hidden;
                 
                 .c-archive-list--months
                 { height : 0;  transition: all 1.75s ease;overflow : hidden;}
                 &.is-open
                 {
                     .c-archive-list--months:first-of-type { height : auto; display : block;transition: all 1.75s ease;}
                     .c-archive-list--year-icon:first-child {transform: rotate(90deg);}
                 }

             }

             &--month
             {
                 overflow : hidden;
                 .c-archive-list--links
                 { height : 0;  transition: all 1.75s ease;overflow : hidden;}
                  &.is-open
                  {
                     .c-archive-list--links:first-of-type { height : auto; display : block;transition: all 1.75s ease;}
                     .c-archive-list--month-icon:first-child {transform: rotate(90deg);}
                  }
             }
         }
    }
   
}