.o-base-wrapper {
   
    width : 100%;

}

.o-content--wrapper
{
    @include u-padding(trbl,$s);
    max-width:                          1140px;
    margin-right:                       auto;
    margin-left:                        auto;

    @media only screen and (min-width : $md-viewport) {
        @include u-padding(trbl,$m);
    }
}


.o-main-content-wrapper
{
    @include u-padding--s;
    background-color : #fff;
     max-width:                          1140px;
    margin-right:                       auto;
    margin-left:                        auto;
}