/*
*************************************************

DANMALL.ME
Utilities

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

.u {


		/*-------------------------------------------    
		    Text
		-------------------------------------------*/


		&-text--xs {
			@include u-text--xs;
		}

		&-text--s {
			@include u-text--s;
		}

		&-text--m {
			@include u-text--m;
		}

		&-text--l {
			@include u-text--l;
		}

		&-text--xl {
			@include u-text--xl;
		}

		&-text--xxl {
			@include u-text--xxl;
		}

		&-text--10 {
			@include u-text--10;
		}

		&-text--12 {
			@include u-text--12;
		}

		&-text--14 {
			@include u-text--14;
		}

		&-text--20 {
			@include u-text--20;
		}



		// leading

		&-leading--xs {
			@include u-leading--xs;
		}

		&-leading--s {
			@include u-leading--s;
		}

		&-leading--m {
			@include u-leading--m;
		}

		&-leading--l {
			@include u-leading--l;
		}

		&-leading--xl {
			@include u-leading--xl;
		}

		&-leading--xxl {
			@include u-leading--xxl;
		}


		// font style
/*
		&-font--sans {
			@include u-font--sans;
		}

		&-font--serif {
			@include u-font--serif;
		}

*/

		// font weight

		&-font--normal {
			@include u-font--normal;
		}

		&-font--bold {
			@include u-font--bold;
		}

		.breveNewsBold-loaded &-font--bold {
			@include u-font--normal;

			// seasoning
			font-family: "BreveNews-Bold";
		}		

		&-font--italic,
		&-fontStyle--italic {
			@include u-fontStyle--italic;
		}

		.breveNewsBookItalic-loaded &-font--italic,
		.breveNewsBookItalic-loaded &-fontStyle--italic {
			@include u-fontStyle--normal;

			// seasoning
			font-family: "BreveNews-BookItalic";
		}

		&-fontStyle--normal {
			@include u-fontStyle--normal;
		}



		// bullets

		&-bullets {
			@include u-bullets;
		}

		&-bullets--none {
			@include u-bullets--none;
		}


		// other text styles

		&-uppercase {
			@include u-uppercase;
		}

		&-letterspace--in {
			@include u-letterspace--in;
		}





		/*-------------------------------------------    
		    Alignments
		-------------------------------------------*/

		&-align--left {
			@include u-align--left;
		}

		&-align--right {
			@include u-align--right;
		}

		&-align--center {
			@include u-align--center;
		}



		/*-------------------------------------------    
		    Margins and Paddings    
		-------------------------------------------*/

		$properties:(
    padding:padding,
    margin:margin
);

$sizes: (
    0:0,
    xxxs:$xxxs,
    xxs:$xxs,
    xs:$xs,
    xsPlus:$xsPlus,
    s:$s,
    m:$m,
    l:$l,
    xl:$xl,
    xxl:$xxl,
    xxxl:$xxxl
);

$positions: (
    All:all,
    Top:top,
    Right:right,
    Bottom:bottom,
    Left:left);


@each $properties-key, $properties-value in $properties {
    @each $positions-key, $positions-value in $positions {
        @each $sizes-key, $sizes-value in $sizes {

            @if $positions-key == All {
                &-#{$properties-key}--#{$sizes-key} {
                #{$properties-value} : $sizes-value + px;
                }
            }
            @else {
                &-#{$properties-key}#{$positions-key}--#{$sizes-key} {
               #{$properties-value}-#{$positions-value}  : $sizes-value + px;
                }
            }
        }
    }
}



		/*-------------------------------------------    
		    Text Indent
		-------------------------------------------*/

		&-textIndent--0 {
			@include u-textIndent--0;
		}


		


		/*-------------------------------------------    
		    Display     
		-------------------------------------------*/
		
		&-hide {
			@include u-hide;
		}

		&-show,
		&-block {
			@include u-show;
		}

		&-display {

			&--block {
				@include u-display--block;
			}

			&--inlineBlock {
				@include u-display--inlineBlock;
			}

			&--inline {
				@include u-display--inline;
			}

			&--flex {
				@include u-display--flex;
			}

		}


		/*-------------------------------------------    
		    Positioning
		-------------------------------------------*/

		&-pos--absolute {
			@include u-pos--absolute;
		}

		&-pos--relative {
			@include u-pos--relative;
		}

		&-pos--static {
			@include u-pos--static;
		}

		&-pos--fixed {
			@include u-pos--fixed;
		}



		/*-------------------------------------------    
		    Moving
		-------------------------------------------*/

		&-move--offscreen {
			@include u-move--offscreen;
		}

		&-move--onscreen {
			@include u-move--onscreen;
		}


		/*-------------------------------------------    
		    Floating & Clearing
		-------------------------------------------*/

		&-float--left {
			@include u-float--left;
		}

		&-float--right {
			@include u-float--right;
		}

		&-float--none {
			@include u-float--none;
		}

		&-clear--left {
			@include u-clear--left;
		}

		&-clear--right {
			@include u-clear--right;
		}

		&-clear--both {
			@include u-clear--both;
		}

		/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
		&-clearfix:after {
			content: "."; 
			display: block; 
			height: 0; 
			clear: both; 
			visibility: hidden;
		}


		/*-------------------------------------------    
		    Phark
		-------------------------------------------*/

		&-phark {
			@include u-phark;
		}



		/*-------------------------------------------    
		    Backgrounds
		-------------------------------------------*/

		&-bg--none {
			@include u-bg--none;
		}


		/*-------------------------------------------    
		    Box Shadow
		-------------------------------------------*/
		&-boxShadow--none {
			@include u-boxShadow--none;
		}





		.hidden 
		{
			position:absolute;
			left:-10000px;
			top:auto;
			width:1px;
			height:1px;
			overflow:hidden;
		}
}