<footer class="c-site-footer">

    <div class="o-wrapper o-content--wrapper  o-flex o-flex-col">
        <span style="display : block">Copyright &copy; Thomas Heaney 2019</span>
       <span>Powered by <a href="https://www.umbraco.com" class="dp-external-link">Umbraco</a></span>
    </div>
</footer>
