@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "WebBase.cshtml";
}

<div class="c-content o-content--wrapper u-clearfix">

   

    <div class="c-post-listing c-content--main">
        @{ Html.RenderAction("RenderPostList", "BlogHome", new { numberOfItems = 6 });}
    </div>
</div>
